:root {
    --header-image: url();
    --body-bg-image: url(https://file.garden/ZWP7HV4ycxnRjvC3/Pictures%20n%20shit/gifs!/watergif1.gif);
    --content: #5ead9a;
}

@font-face {
    font-family: Ambistek;
    src: url('https://file.garden/ZWP7HV4ycxnRjvC3/Pictures%20n%20shit/Fonts/ambitsek.ttf');
}

body {
    font-family: 'Ambistek', sans-serif;
    margin: 0;
    background-color: #08031A;
    background-size: 65px;
    color: #aad7ec;
    background-image: var(--body-bg-image);
}
#catgif2 {
    position: absolute;
    left: 500px;
    top: 690px;
}
* {
    box-sizing: border-box;
}

#container {
    max-width: 900px;
    margin: 0 auto;

}
#header {
    opacity: 80%;
    width: 100%;
    background-color: #3b7674;
    height: 100px;
    background-image: var(--header-image);
    background-size: 100%;
    height: fit-content;
    text-align: center;
}


#navbar {
    height: 40px;
    background-color: #73c3a6;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
}
#navbar li a:hover {
    color: #3e86ba;
    text-decoration: underline;
}

#flex {
    display: flex;
}

aside {
    background-color: #258b89;
    width: 200px;
    padding: 20px;
    font-size: smaller;
    height: fit-content;
}

main {
    outline: dashed;
    background-color: #589e96;
    width: auto;
    padding: 20px;
    flex: 1;
    order: 2;
}
#Updates {
    outline: dashed;
    background-color: #50807a;
    padding: 20px;
    order: 4;
    overflow: scroll;
    height: 500px;
    flex: 1;
    margin-bottom: 10px;
}

#rightSidebar {
    order: 3;
}
footer {
    outline: dashed;
    background-color: #236d5f;
    width: 100%;
    height: 70px;
    padding: 10px;
    text-align: center;
    height: fit-content;
}
footer a {
    color: #5bb6b5;
}
h3 {
    color: #469881;
}

h1 {
    font-size: 25px;
}

strong {
    color: #4b689b;
}

#topBar {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: smaller;
    background-color: #4cafa2;
}

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }
    #Updates {
        order: 3;
    }
    #rightSidebar {
        order: 4;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
    #navbar {
        font-size: x-small;
    }
    #unfriendly {
        display: block !important;
        display: none !important;
    }
}