:root {
    --header-image: url();
    --body-bg-image: url('https://files.catbox.moe/rwwc6v.png');
    --content: #1e2b67;
}

@font-face {
    font-family: Ambistek;
    src: url('https://file.garden/ZWP7HV4ycxnRjvC3/Pictures%20n%20shit/Fonts/ambitsek.ttf');
}

body {
    font-family: 'Ambistek', sans-serif;
    margin: 0;
    background-color: #08031A;
    background-size: 65px;
    color: #aad7ec;
    background-image: var(--body-bg-image);
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 900px;
    margin: 0 auto;

}

#header {
    width: 100%;
    background-color: #588bf0;
    height: 100px;
    background-image: var(--header-image);
    background-size: 100%;
    height: fit-content;
    text-align: center;
}

#navbar {
    height: 40px;
    background-color: #5678f4;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
}
#navbar li a:hover {
    color: #203e53;
    text-decoration: underline;
}

#flex {
    display: flex;
}

aside {
    background-color: #1f6160;
    width: 200px;
    padding: 20px;
    font-size: smaller;
    height: fit-content;
}

main {
    outline: dashed;
    background-color: #25306e;
    flex: 1;
    padding: 20px;
    order: 2;
}

#rightSidebar {
    order: 3;
}
footer {
    outline: dashed;
    background-color: #232f6d;
    width: 100%;
    height: 70px;
    padding: 10px;
    text-align: center;
    height: fit-content;
}
footer a {
    color: #5bb6b5;
}
h3 {
    color: #469881;
}

h1 {
    font-size: 25px;
}

strong {
    color: #4b689b;
}

#topBar {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: smaller;
    background-color: #2a9a8b;
}

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}