body {
    background-color: rgb(87, 148, 117);
}
img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -120px;
    width: 300px;
  }
#textbox {
    background: #336658; ;
    position: static;
}
@font-face {
    font-family: Ambistek;
    src: url('https://file.garden/ZWP7HV4ycxnRjvC3/Pictures%20n%20shit/Fonts/ambitsek.ttf');
}

body {
    font-family: 'Ambistek', sans-serif;
    
}