@font-face {
    font-family: "pixeloperator"; 
    src: url("font/PixelOperator.ttf") format("truetype");}
* {
    font-family: "pixeloperator";
    background-color: rgb(96, 106, 151);
    box-sizing: border-box;
    text-align: center;
}
p {
    border: 2px dotted lavenderblush;
    padding: 10px;
    margin: 50px;
}
a:link {
    color:rgb(23, 64, 29)
}
a:visited {
    color: rgb(60, 6, 16);
}
a:active {
    color:cadetblue;
    text-decoration: line-through;
}