@font-face {
    font-family: "pixeloperator"; 
    src: url("font/PixelOperator.ttf") format("truetype");}
  * {
    box-sizing: border-box;
  }

body {
   background-color: rgb(42, 124, 113,) ;
   font-size: 19px;
   margin: auto;
  font-family: "pixeloperator";}
  h1 {color: black;
  text-align: center;}
  #homebox1 {
    padding: 10px;
    border:10px double rgb(27, 120, 86);
    margin: auto; 
    text-indent: 10px;
    margin-top: 30px;
    background-color: rgb(72, 136, 86);
    text-align: center;
   width: 60%;}
  #homebox2 {
    border: 10px double rgb(27, 120, 86);
    overflow: hidden;
    width: 60%;
    margin: 10%;
    text-align: center;
    background-color: rgb(16, 105, 63);
  }
  #nav {
    border: 10px double rgb(22, 87, 49);
    background-color: rgb(59, 141, 114);
    width: 60%;
    margin: auto;
    text-align: left;
  }
  #homebox3 {
    border: 10px double rgb(11, 78, 47);
    margin: auto;
    text-align: center;
   text-indent: 10px;
   background-color: rgb(11, 103, 74);
   margin-bottom: 10%;
   margin-right: 5%;
   margin-left: 30%;
  }
  img:hover {
    transform: scaleX(-1);
  }


