@font-face {
  font-family: "pixeloperator"; 
  src: url("font/PixelOperator.ttf") format("truetype");}
#indexheader {
  background-color: rgba(80, 217, 219, 0.2);
  box-sizing: border-box;

  box-shadow: black;
  
} 
#indexp {
  border: 13px double rgb(33, 80, 34)  ;
  background-color: rgb(166, 172, 177);
  box-sizing: border-box;
  height: auto;
  width: 700px;
  margin: auto;
  font-size: smaller;
  text-align: center;
} 
body {
 background-color: rgb(35, 101, 79);
 font-size: 50px;
 margin: auto;
font-family: "pixeloperator";}

h1 {color: black;
text-align: center;}
